@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'DM Sans', sans-serif !important;
		font-feature-settings: 'kern' !important;
		-webkit-font-smoothing: antialiased;
		letter-spacing: -0.5px;
	}
}

input.defaultCheckbox::before {
	content: url(../src/assets/svg/checked.svg); 
	color: white;
	opacity: 0; 
	height: 16px; 
	width: 16px;
	position: absolute; 
	left: 50%;
	transform: translate(-50%, 0px);
} 

input:checked.defaultCheckbox::before { 
	opacity: 1;
}

.overflow-y-auto {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
	border-radius: 999px;
	background-color: rgb(194, 194, 194);
}

::-webkit-scrollbar-thumb {
	width: 4px;
	border-radius: 999px;
	background-color: rgb(221, 221, 221);
}

/* Pastikan body tidak overflow saat zoom */
html, body {
  overflow-x: hidden;
}

/* Smooth transition saat sidebar buka/tutup */
* {
  transition: margin 0.2s ease, padding 0.2s ease;
}

.ck-editor__editable {
  height: 150px !important;
  overflow-y: auto;
}

.ck-editor__editable_inline {
  height: 150px !important;
}

/* Opsional: biar toolbar tidak terpotong */
.ck.ck-editor {
  width: 100%;
}